{% extends 'tracker/tracker_home.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}Registration new developer - STEP 2 - FINISH{% endblock %}

{% block brdc-links %}
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'tracker-home' %}">Tracker</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registration new developer - STEP 2</li>
{% endblock %}

{% block content %}
     <h1 class="h2">Registration new developer - STEP 2</h1>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}
        <div class="form-group">
            <label for="{{ form.user.id_for_label }}">User</label>
            {{ form.user|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="{{ form.position.id_for_label }}">Position</label>
            {{ form.position|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="{{ form.birth_date.id_for_label }}">Birth date</label>
            {{ form.birth_date|add_class:"form-control"|attr:"type:date" }}
        </div>
        <div class="form-group">
            <label for="{{ form.avatar.id_for_label }}">Avatar</label>
            {{ form.avatar }}
        </div>
        <button class="btn btn-secondary btn-lg btn-block" type="submit">Submit</button>
    </form>
{% endblock %}