{% extends 'base.html' %}

{% block title %}{{ request.user }} profile {% endblock %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: 140x140"><title>Avatar</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    </svg>
                    <h2>{{ request.user }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% if projects %}
                <ul class="list-group list-group-horizontal-lg">
                    {% for project in projects %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            style="margin-right: 1rem;">
                            <a href="{% url 'project-info' slug=project.slug %}"
                               style="padding-right: .6rem;">{{ project.name }} </a>
                            <span class="badge badge-primary badge-pill">{{ project.task_set.count }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    You have not projects. Please, ask administrator.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}