{% extends 'tracker/tracker_home.html' %}

{% block title %}User list{% endblock %}

{% block brdc-links %}
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'tracker-home' %}">Tracker</a></li>
    <li class="breadcrumb-item active" aria-current="page">User list</li>
{% endblock %}

{% block content %}
    <h1 class="h2">User list</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'accounts:register-step-1' %}" class="btn btn-sm btn-outline-secondary">Create new developer</a>
            <a href="{% url 'tracker-home' %}" class="btn btn-sm btn-outline-secondary">Go back to tracker</a>
        </div>
    </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Position</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ user.user.username }}</td>
                    <td><img alt="" src="/accounts/media/{{ user.avatar }}" width="150px"></td>
                    <td>{{ user.user.first_name }}</td>
                    <td>{{ user.user.last_name }}</td>
                    <td>{{ user.user.email }}</td>
                    <td>{{ user.birth_date|date:"Y-m-d" }}</td>
                    <td>{{ user.position }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}